body{
    background-color: black;
}
#tarjeta{
    display: flex !important;
    flex-direction: column;
}

.tarjetas{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.col{
display: flex;
justify-content: center;
}